@keyframes scroll-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.scroll-container {
  mask: linear-gradient(90deg, transparent, black 50%, black 95%, transparent);
  opacity: 0.7;
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.scroll-content {
  display: inline-block;
  animation: scroll-right 10s infinite linear;
}

.item {
  display: inline-block;
  width: auto;
  height: 250px;
  margin: 10px;
}
