@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

:root {
  --gap-left: 20px;
}

.scroller-container {
  font-family: var(--principal-font);
  font-weight: var(--principal-font-weight);
  mask: linear-gradient(90deg, transparent, black 50%, black 95%, transparent);
}

.stock-ticker-right {
  display: flex;
  gap: var(--gap-left);
}

.stock-ticker-right div {
  min-width: 100%;
  animation: scroll-right 25s linear infinite;
}

@keyframes scroll-right {
  to {
    transform: translateX(calc(100%));
  }
}
